<%- include('partials/header'); -%>

<h1 class="repoheading"><strong>Github Repositories Of <%= userID%><strong></strong></h1>

<div class="container repocontainer">

    <% console.log(userRepos); %> 

    <% userRepos.forEach(function(repo){ %>

        <div class="repos">
            <h3>&#x2022 <%= repo.name%></h3>
            <span><a href="<%= repo.link%>" class="btn btn-info">Visit Here</a></span>
          </div>
    
    <% })%>
   
  </div>

<%- include('partials/footer'); -%>